.main
{
    color: blue;
    padding-left: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 4pt;
    margin-top: 6pt;
    margin-left: 6pt;
    background-color: bisque;
    border: 2px solid black;
}
.achive
{
    color: brown;
}