.fon
{

 color:rgb(27, 27, 173);  
 border: 2px solid rgb(181, 27, 27);
padding: 20px 60px 30px 40px;
color:rgb(241, 239, 243);
display: flex;
justify-content: center;
align-items: center;
}
.txt1
{
    margin: 10px 20px 10px 20px;
    align-items: flex-end;
}
.price
{
    margin: 10px;
    text-align: center;
    color: rgb(197, 29, 91);
}
.cg
 {
    height: 400px;
padding: 6px;
border-radius: 4px;
overflow: auto;
    border: 2px solid burlywood;
    display: inline-block;
    }
    .cb
    {
        height: 400px;
padding: 6px;
border-radius: 4px;
overflow: auto;
    border: 2px solid rgb(54, 20, 188);
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* added a background color to the container _/
    padding: 20px; /_ added some padding to the container */
    }
    .image {
    width: 50%;
    height: 200px;
    margin: 10px;
    }
    .text {
    margin: 10px;
    text-align: center;
    }
    
    